.matchResultItem {
	-fx-border-width:1;
	-fx-border-color:#999FAA;
	-fx-padding:12;
	-fx-min-width:600;
	-fx-min-height:50;
	-fx-max-height:80;
}
.matchResultItem .title{
	-fx-font-size: 16;
	-fx-font-weight: bold;
}
.matchResultItem .source{
	-fx-text-fill: #999FAA;
}
.matchResultItem .source:selected:focused{
	-fx-text-fill: white;
}
.matchResultItem .type{
	-fx-font-style: italic;
	-fx-text-fill: #999FAA;
}